.add-button {
    padding: 12px;
    width: 50%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 0;
    margin: 25px 0;
}

.add-button:hover {
    background-color: #bbb;
}