.bucket-item {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    &:nth-child(odd) {
        background: #f9f9f9;
    }

    &:hover {
        background: #ddd;
    }

    .bucket-item-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

